.authentication__header {
  color: rgb(255,0,85);
  border-radius: 0.5rem;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.authentication p {
  font-style: italic;
  color: gray;
  font-size: small;
}